<div class="padukuhan-container">
    <div class="card">
        <div class="card-title">
            <h1>Detail Pengajuan</h1>
            <div class="card-button">
                <button mat-flat-button color="warn" (click)="backToList()">
                    <mat-icon>chevron_left</mat-icon>
                    <span>Kembali</span>
                </button>
            </div>
        </div>
        <hr>
        <table>
            <tr></tr>
            <tr *ngFor="let detail of detailList">
                <th width="20%">{{ detail.label }}</th>
                <td width="1px">:</td>
                <td>
                    {{ detail.answer }}
                    <div class="detail-image" *ngIf="detail.label == 'Lampiran'">
                        <div class="image-wrapper" *ngFor="let image of detailImageList" >
                            <img [src]="image.src" alt="">
                            <div class="image-label" (click)="onOpenImage(image.src)">{{ image.label }}</div>
                        </div>
                    </div>
                </td>
            </tr>
        </table>

        <div class="detail-buttons">
            <button mat-flat-button color="primary" (click)="process()"  *ngIf="(service.status == 'Sedang diproses') 
            || (service.status == 'Belum diproses')">
                <span *ngIf="service.status == 'Belum diproses'">Terima</span>
                <span *ngIf="service.status == 'Sedang diproses'">Selesaikan</span>
            </button>
            <button mat-flat-button color="warn" (click)="decline()" *ngIf="service.status != 'Sedang diproses'">
                <span *ngIf="service.status == 'Belum diproses'">Tolak</span>
                <span *ngIf="(service.status == 'Selesai') 
                || (service.status == 'Ditolak') 
                || (service.status == 'Dibatalkan')" >Hapus</span>
            </button>
        </div>
    </div>
</div>