h1, h2, h3, h4, h5, h6, p {
    margin: 0;
}

@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');

* :not(mat-icon) {
    font-family: 'Ubuntu', "Helvetica Neue", sans-serif;
}

.card {
    background-color: white;
    padding: 16px;
    border-top: 6px solid #39728A;
    border-radius: 6px;
}

.card-title {
    margin-block: 12px;
    display: flex;
    justify-content: space-between;
}

.card-button {
    display: flex;
    gap: 16px;
}

table {
    width: 100%;
    border-collapse: collapse;
}

th {
    text-align: start;
}

th, td {
    padding: 16px 8px;
    vertical-align: top;
}

tr:hover {
    background-color: #efefef;
}

tr:first-child:hover{
    background-color:transparent;
}




.detail-image {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 12px;
}

.image-wrapper {
    width: 100%;
    height: 160px;
    overflow: hidden;
    position: relative;
    border-radius: 8px;
}

.image-wrapper img {
    width: 100%;
}

.image-wrapper div {
    position: absolute;
    color: white;
    z-index: 99;
    top: 0;
    width: calc(100% - 32px);
    height: calc(100% - 32px);
    background: linear-gradient(1deg, black, transparent);
    display: flex;
    align-items: flex-end;
    padding: 16px;
    cursor: pointer;
}

.detail-buttons {
    padding-block: 16px;
    display: flex;
    justify-content: end;
    gap: 16px;
}




// MODAL
.modal-card {
    width: 32vw;
    background-color: white;
    padding: 16px 32px;
    border-radius: 0;
}

.modal-close-button {
    cursor: pointer;
}

.modal-content-form {
    display: flex;
    flex-direction: column;
    gap: 16px;
}