<div class="padukuhan-container">
    <div class="card">
        <div class="card-title">
            <h1>Padukuhan Desa Logandeng</h1>
            <button mat-flat-button style="background-color: #1cdc62;" (click)="openDialog('Tambah Padukuhan')">
                <mat-icon>add</mat-icon>
                <span>Tambah Padukuhan</span>
            </button>
        </div>
        <hr>
        <div style="display: flex; justify-content: center;" *ngIf="isListLoading">
            <mat-spinner style="width: 32px; height: 32px; margin-top: 16px;"></mat-spinner>
        </div>
        <table>
            <tr>
                <th width="8%">No</th>
                <th width="34%">Nama Padukuhan</th>
                <th width="34%">RT</th>
                <th width="24%">Action</th>
            </tr>
            <tr *ngFor="let padukuhan of padukuhanList; let i = index">
                <ng-container *ngIf="i >= pageIndex * pageSize && i < (pageIndex * pageSize) + pageSize">
                    <td>{{ i + 1 }}</td>
                    <td>{{ padukuhan.name }}</td>
                    <td>{{ padukuhan.rt }}</td>
                    <td class="action">
                        <button class="action-button" (click)="openDialogEdit('Edit Padukuhan', padukuhan)">
                            <div>
                                <mat-icon>edit</mat-icon>
                                <span>Edit</span>   
                            </div>
                        </button>
                        <button class="action-button" (click)="onDeletePadukuhan(padukuhan.name)">
                            <div>
                                <mat-icon>delete</mat-icon>
                                <span>Hapus</span>
                            </div>
                        </button>
                    </td>
                </ng-container>
            </tr>
        </table>
        <br>
        <div class="paginator">
            <mat-paginator [length]="padukuhanList.length"
                (page)="handlePageEvent($event)"
                [pageSize]="5"
                [pageSizeOptions]="[5, 10]"
                [showFirstLastButtons]="true"
                aria-label="Select page">
            </mat-paginator>
        </div>
    </div>
</div>