// MODAL
.modal-card-normal {
    width: 32vw;
    background-color: white;
    padding: 16px 32px;
    border-radius: 0;
}

.modal-card-big {
    width: 72vw;
    height: 72vh;
    background-color: white;
    padding: 16px 32px;
    border-radius: 0;
}

.modal-close-button {
    cursor: pointer;
}

.modal-content-preview {
    display: flex;
    flex-direction: column;
    align-items: end;
}

.modal-content {
    max-height: 50vh;
    overflow-y: scroll;
}

.modal-content img {
    width: 100%;
}