<div class="user-container">
    <div class="card">
        <div class="card-title">
            <h3>Pengajuan Surat</h3>
            <div class="card-button">
                <button mat-flat-button style="background-color: #cccccc;" (click)="openDialogSearch()">
                    <mat-icon>search</mat-icon>
                    <span>Pencarian</span>
                </button>
            </div>
        </div>
        <hr>
        <table>
            <tr>
                <th width="8%">No</th>
                <th width="30%">Nama Lengkap</th>
                <th width="30%">Perihal</th>
                <th width="16%">Status</th>
                <th width="16%">Action</th>
            </tr>
            <tr *ngFor="let pengajuan of pengajuanList; let i = index">
                <ng-container *ngIf="i >= pageIndex * pageSize && i < (pageIndex * pageSize) + pageSize">
                    <td>{{ i + 1 }}</td>
                    <td>{{ pengajuan.fullname }}</td>
                    <td>{{ pengajuan.service_name }}</td>
                    <td>{{ pengajuan.status }}</td>
                    <td class="action">
                        <button class="action-button" (click)="openPengajuan(pengajuan.id)">
                            <div>
                                <mat-icon>visibility</mat-icon>
                                <span>Lihat</span>   
                            </div>
                        </button>
                    </td>
                </ng-container>
            </tr>
        </table>
        <br>
        <div class="paginator">
            <mat-paginator [length]="pengajuanList.length"
                (page)="handlePageEvent($event)"
                [pageSize]="5"
                [pageSizeOptions]="[5, 10]"
                [showFirstLastButtons]="true"
                aria-label="Select page">
            </mat-paginator>
        </div>
    </div>
</div>