<div class="card modal-card">
    <div class="card-title">
        <h1>{{ data.title }}</h1>
        <mat-icon mat-dialog-close class="modal-close-button">close</mat-icon>
    </div>

    <hr>
    <br>

    <div class="modal-content">
        <div class="modal-content-form" [formGroup]="userFrom" *ngIf="data.isEdit">
            <mat-form-field appearance="fill">
                <mat-label>Username</mat-label>
                <input matInput placeholder="Username" disabled [value]="data.user.username">
                <mat-hint>
                    <span style="color: #465a8b;">
                        Note : Username tidak dapat di edit lagi
                    </span>
                </mat-hint>
            </mat-form-field>

            <mat-form-field appearance="fill">
                <mat-label>Nama Lengkap</mat-label>
                <input matInput placeholder="Nama Lengkap" formControlName="fullname">
                <mat-hint></mat-hint>
            </mat-form-field>

            <button mat-flat-button 
                color="primary" 
                (click)="onEditUser(data.user.id, data.user.password)">
                SIMPAN
            </button>
        </div>

        <div class="modal-content-form" [formGroup]="changePasswordForm" *ngIf="!data.isEdit">
            <mat-form-field appearance="fill">
                <mat-label>Password Lama</mat-label>
                <input matInput [type]="hide[0] ? 'password' : 'text'" placeholder="Password Lama" formControlName="oldPassword">
                <button mat-icon-button matSuffix (click)="hide[0] = !hide[0]" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide[0]">
                  <mat-icon>{{hide[0] ? 'visibility_off' : 'visibility'}}</mat-icon>
                </button>
            </mat-form-field>

            <mat-form-field appearance="fill">
                <mat-label>Password Baru</mat-label>
                <input matInput [type]="hide[1] ? 'password' : 'text'" placeholder="Password Baru" formControlName="newPassword">
                <button mat-icon-button matSuffix (click)="hide[1] = !hide[1]" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide[1]">
                  <mat-icon>{{hide[1] ? 'visibility_off' : 'visibility'}}</mat-icon>
                </button>
            </mat-form-field>

            <mat-form-field appearance="fill">
                <mat-label>Konfirmasi Password Baru</mat-label>
                <input matInput [type]="hide[2] ? 'password' : 'text'" placeholder="Konfirmasi Password Baru" formControlName="confirmPassword">
                <button mat-icon-button matSuffix (click)="hide[2] = !hide[2]" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide[2]">
                  <mat-icon>{{hide[2] ? 'visibility_off' : 'visibility'}}</mat-icon>
                </button>
            </mat-form-field>

            <button mat-flat-button 
                color="primary" 
                (click)="onChangePassword(data.user.id, data.user.password)">
                SIMPAN
            </button>
        </div>
    </div>
</div>