<div class="container">
    <div class="card">
        <div class="content-info">
            <img src="/assets/images/banner.png" alt="">
            <br><br>
            <div class="download-button">
                <a href="https://play.google.com/store/apps/details?id=com.jelajahi.ngaglik" target="_blank">
                    <div><img src="/assets/images/id_badge_web_generic.png" alt="" style="width: 100%;"></div>
                </a>
                <!-- <a href="https://firebasestorage.googleapis.com/v0/b/ngaglik-padukuhan.appspot.com/o/apk%2Flapak-nganglik-v1.0.apk?alt=media&token=93091c8f-6bac-499a-96c3-f35914684946" target="_blank">
                    <div><img src="/assets/images/download.png" alt="" style="width: 100%;"></div>
                </a> -->
            </div>
        </div>
        <div class="content-img">
            <img src="/assets/images/app.png" alt="">
        </div>
    </div>

    <div class="card2">
        <!-- <button (click)="openChangeLog()">Lihat Log Update Aplikasi</button>
        <br><br><br> -->
        <div class="social">
            <a href="https://www.instagram.com/jelajahi.ngaglik" target="_blank">
                <img src="assets/images/ig.png" alt="" style="width: 64px;">
            </a>
            <a href="https://www.youtube.com/@KKNAB80154KP" target="_blank">
                <img src="assets/images/l1.png" alt="" style="width: 64px;">
            </a>
            <a href="https://wa.me/62895411138785" target="_blank">
                <img src="assets/images/l3.png" alt="" style="width: 64px;">
            </a>
            <a href="mailto:kknab8015pkp@gmail.com" target="_blank">
                <img src="assets/images/l4.png" alt="" style="width: 64px;">
            </a>
        </div>
        <br>
        <h2 style="text-align: center;">Copyright © 2025 - KKN.AB.80.154.KP</h2>
    </div>
</div>